/* styles.css */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333333; /* Dark gray background */
    color: #E0E0E0; /* Light gray text for readability */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Ensures the ability to scroll */
}

main{
    width: 85%;
    margin: 20px auto;
    padding: 20px;
}

section{
    background-color: #445F3B; /* Dark green for sections */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners for sections */
}

/* Header styling */

header{
    display: flex;
    justify-content: space-between; /* This will space out the logo and the navbar */
    align-items: center; /* This will vertically center the logo and navbar links */
    padding: 1rem 10%; /* Adjust padding as needed */
    color: #E0E0E0;
    border-bottom: 1px solid #575757; /* Separate the footer */
}

.logo {
    color: #445F3B; /* Sets the color of the logo text */
    font-size: 1.5em; /* Sets the size of the logo */
    text-decoration: none; /* Removes underline from the logo */
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 0.5rem; /* Adds space between the icon and text */
}

.navbar a {
    color: #E0E0E0;
    text-decoration: none;
    margin: 0 10px; /* Adjust the spacing between nav links */
    font-size: 1.1em; /* Adjust the font size as needed */
    transition: color 0.3s;
}

.navbar a:hover {
    color: #445F3B; /* Changes the color when hovered */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center; /* Center alignment for nav links */
    }

    .navbar a {
        padding: 10px;
        text-align: center;
        width: 100%; /* Full width links for easier touch access */
        border-bottom: 1px solid #445F3B; /* Adds a subtle separator between links */
    }

    .logo {
        margin-bottom: 15px; /* Adds some space between the logo and navbar */
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1.2em; /* Smaller logo font size for smaller screens */
    }

    .navbar a {
        font-size: 0.9em; /* Smaller font size for nav links on very small screens */
    }
}

/* Footer styling */
footer{
    text-align: center;
    padding: 5px 20px; /* Reduced padding for a smaller footer */
    color: #ffffff;
    font-size: 0.8em; /* Smaller font size */
    left: 0;
    width: 100%;
    border-radius: 5px; /* Rounded corners for the footer */
    border-top: 1px solid #575757; /* Separate the footer */
}

footer span{
    color: #445F3B;
    font-weight: bold;
}

.home{
    padding: 2rem 9%;
    background-color: #333333;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .home-img{ 
    flex: 1 1 40%;
}

.home .home-img img{
    width: 100%;
}

.home .content{
    flex: 1 1 50%;
    padding-left: 2rem;
}

.home .content h3{
    font-size: 3rem;
    line-height: 1.8;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
}

.home .content p{
    font-size: 1.5 rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.btn {
    background-color: #445F3B; /* Button background */
    color: #ffffff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* Removes underline from link */
    display: inline-block; 
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.btn:hover {
    background-color: #567f53; /* Lighter green for hover */
}

#chart1-section h2, #chart2-section h2, #chart3-section h2 {
    align-items: center;
    text-align: center;
}

#chart1-section p, #chart2-section p, #chart3-section p {
    text-align: center;
    font-size: 0.8em; /* Smaller font size */
}


@media (max-width: 768px) {
    .chart1-section {
        width:100%;
        height: auto;
    }

    svg {
        width: 100%; 
        height:auto;
    }
}

.chart-container svg {
    width: 100%;
    height: auto;
}

